<react-container-create-view></react-container-create-view>

<information-panel title-text="Caution" ng-if="state.mode == 'duplicate'">
  <span class="small">
    <p class="text-muted">
      <pr-icon icon="'alert-triangle'" mode="'warning'" class-name="'mr-0.5'"></pr-icon>
      The new container may fail to start if the image is changed, and settings from the previous container aren't compatible. Common causes include entrypoint, cmd or
      <a href="https://docs.portainer.io/user/docker/containers/advanced" target="_blank">other settings</a> set by an image.
    </p>
  </span>
</information-panel>
